 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    border: none;
    box-sizing: border-box;
 }

 :root {
    --orange-color: #f98020;
    --pink-color: #f48676;
    --lightblue-color: #6d9496;
    --teal-color: #0b4251;
    --sand-color: #fee6bb;
    --yellow-color: #f2c864;
    --tan-color: #eec492;
}


span.logo{
    color: var(--evergreen-color);
    font-size: 1.7rem;
    align-items: left;
    justify-content: space-between;
}

.logo p {
    font-size: 1.5rem;
    color: var(--sand-color);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 2rem 9%;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.navbar a{
    font-size: 1.3rem;
    color: var(--sand-color);
    margin-left: 4rem;
    transition: .3s;
    
}

.navbar a:hover, .navbar a:active{
    color: var(--dandelion-color);
}


.container {
    width: 100vw;
    height: 100vh;
    background-image: url(allure-of-the-seas-aerial.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: var(--sand-color);
    
}
.content h1 {
    font-size: 64px;
    font-weight: 600;
}

.content h1 span {
    color: var(--orange-color);
}

.content button {
    background: transparent;
    border: 2px solid var(--orange-color);
    outline: none;
    padding: 12px 25px;
    color: var(--sand-color);
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 50px;
}

.content button:hover{
    transition: .5s ease;
    background: var(--orange-color);
}

.content button i {
    width: 15px;
    margin-left: 10px;
    
    
}

.launch-time {
    display: flex;
}

.launch-time div {
    flex-basis: 100px;
}

.launch-time div p {
    font-size: 60px;
    margin-bottom: -14px;
}
/* css for image slider */
 
